.crystal-image {
    width: 140px;
    height: 240px;
}

body {
    background-image: url("../images/background.png")
}

#page-title {
    background-color: coral;
    color: white;
    text-align: center;
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 560px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

#instructions {
    clear: both;
    float: left;
    background-color: blanchedalmond;
    color: coral;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    width: 560px;
    text-align: center;
}

#stats {
    height: 50px;
}

#targetNumberContainer {
    clear: both;
    float: left;
    background-color: whitesmoke;
    color: blue;
    font-weight: bold;
    font-size: 28px;
    width: 240px;
    padding: 20px;
    height: 80px;
    text-align: center;
    line-height: 1.4;
}

#scoreContainer {
    float: left;
    background-color: whitesmoke;
    color: blue;
    font-weight: bold;
    font-size: 28px;
    width: 240px;
    padding: 20px;
    height: 80px;
    text-align: center;
    line-height: 1.4;
}

#wins-losses-container {
    clear: both;
}

#wins-container {
    float: left;
    font-size: 28px;
    width: 240px;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

#losses-container {
    float: left;
    font-size: 28px;
    width: 280px;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}

#crystals {
    clear: both;
    float: left;
    margin-top: 10px;
}



